/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
body {
    max-width: 500px;
    margin: auto;
    font-family: sans-serif;
  }